body {
  margin: 0;
  padding: 0;
  background: white;
}

.Switch {
  margin: 2%;
}

/* Start | Button */
.SwitchToggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.SwitchToggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 50px;
  height: 20px;
  box-sizing: border-box;
  background-color: #dddddd;
  border-radius: 40px;
}

.SwitchToggle + label:before,
.SwitchToggle + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

/* Button off */
.SwitchToggle + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 40px;
  transition: background 0.4s;
}

.SwitchToggle + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

/* Button on */
.SwitchToggle:checked + label:before {
  background-color: #8ce196;
}

.SwitchToggle:checked + label:after {
  margin-left: 28px;
}
/* End | Button */